@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300,500,700,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-text {
	display: inline-block;
	width: 100%;
	text-align: center;
}

h1 {
	@apply font-medium leading-tight text-gray-900 text-3xl text-center;
}

h2 {
	@apply font-medium leading-tight text-gray-900 text-2xl;
}

h3 {
	@apply font-medium leading-tight text-gray-900 text-xl;
}

blockquote {
	@apply text-gray-900 border-l-2 border-gray-200 mt-6 mb-6 pl-4;
	quotes: "\201C""\201D""\2018""\2019";
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea {
	font-family: "Inter", sans-serif;
	@apply text-gray-800;
}

p {
	@apply pb-2;
}

body,
textarea {
	color: var(--text);
}

a {
	text-decoration: none;
	color: currentColor;
}

a:hover {
	text-decoration: underline;
}

input[type="search"] {
	-webkit-appearance: none;
}
